<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/admin/inventory">Inventory</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <form class="product-form" action="/admin/inventory" method="POST">
            <div class="form-control">
                <label for="title">Offset</label>
                <input type="text" name="offset" id="offset">
            </div>
            <div class="form-control">
                <label for="title">Click the button below to check for inventory in Lightspeed</label>
            </div>

            <button class="btn" type="submit">Download Items</button>
        </form>

        <form class="product-form" action="/admin/inventoryDate" method="POST">
            <div class="form-control">
                <label for="title">Click the button below to check for inventory in Lightspeed based on created date descending</label>
            </div>

            <button class="btn" type="submit">Download Items</button>
        </form>

        <form class="product-form" action="/admin/csv-upload" method="POST" encType="multipart/form-data">
            <div class="form-control">
                <label for="csv">file</label>
                <input 
                    type="file" 
                    name="csv" 
                    id="csv"
                 >
            </div>

            <button class="btn" type="submit">Check Inventory</button>
        </form>

        <form class="product-form" action="/admin/compare" method="POST">
            <div class="form-control">
                <label for="title">Compare</label>
                <input type="text" name="sku" id="sku">
            </div>
            <div class="form-control">
                <label for="title">Click the button below to compare inventory between lightspeed and squarespace</label>
            </div>

            <button class="btn" type="submit">compare</button>
        </form>

    </main>
</body>

</html>