<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Dixon Rye Sales
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Sales
                    li.main-header__item
                        a.active(href="/admin/add-product") Check for Sales
        main
            if sales.length > 0
                .grid
                    each sale in sales
                        article.card.product-item
                            header.card__header
                            h1.product__title Item Sku: #{sale.SaleLines.SaleLine[0].itemID}
                            h1.product__title Quantity: #{sale.SaleLines.SaleLine[0].unitQuantity}
                            div.card__content
                                h2.product__price Sale Amount: #{sale.SalePayments.SalePayment.amount}
                                p.product__description 
                            .card__actions  
                                button.btn Send
            else 
                h1 No Sales
